<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @hotel.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @hotel.descripcion %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @hotel.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @hotel.telefono %>
</p>

<p>
  <strong>Email:</strong>
  <%= @hotel.email %>
</p>

<p>
  <strong>Fotos:</strong>
  <% @hotel.fotos.each do |h| %>
    <%= link_to(image_tag(h.thumb.url, alt: 'foto'), h.url, target: '_blank') %> <emsp/>
  <% end %>
</p>

<%= link_to 'Editar', edit_hotel_path(@hotel) %> |
<%= link_to 'Agregar mas fotos', add_fotos_path(@hotel) %> |
<%= link_to 'Eliminar fotos', remove_fotos_path(@hotel) %> |
<%= link_to 'Atrás', hotels_path %>
